@tailwind base;
@tailwind components;
@tailwind utilities;

#app {
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#border {
    box-shadow: 1px 1px 0.5em black inset;
}
